on early-init
    write /proc/sys/kernel/sched_pelt_multiplier 1

on init
    write /dev/cpuset/foreground/cpus 0-5
    write /dev/cpuset/foreground_window/cpus 0-6
    write /dev/cpuset/foreground/boost/cpus 0-5
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-7
    
    # Boot time tuning
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "performance"
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "performance"
    
    #fs 
    write /sys/block/sda/queue/scheduler mq-deadline

    # Set teo as cpu idle governor
    write /sys/devices/system/cpu/cpuidle/current_governor teo

    # Make foreground and background I/O priority different. none-to-rt was
    # introduced in kernel 5.14. promote-to-rt was introduced in kernel 6.5.
    # Write none-to-rt first and promote-to-rt next to support both older and
    # newer kernel versions.
    write /dev/blkio/blkio.prio.class none-to-rt
    write /dev/blkio/blkio.prio.class promote-to-rt

    # zram
    swapon_all /vendor/etc/fstab.enableswap
    
    # vm
    write /proc/sys/vm/dirty_expire_centisecs 3000
    write /proc/sys/vm/dirty_background_ratio 10
    write /proc/sys/vm/kswapd_threads 1

    # memory reserve tuning for GKI
    write /proc/sys/vm/min_free_kbytes 27386
    write /proc/sys/vm/lowmem_reserve_ratio "0 0 0"
    
    # adjust PCP high level
    write /proc/sys/vm/percpu_pagelist_high_fraction 430

    # disable proactive compaction
    write /proc/sys/vm/compaction_proactiveness 0

    # multi-gen LRU
    write /sys/kernel/mm/lru_gen/enabled y
    
    # disable khugepaged (THP)
    write /sys/kernel/mm/transparent_hugepage/enabled "never"

    # UFS
    write /sys/devices/platform/soc/112b0000.ufshci/clkgate_enable 0
    write /sys/devices/platform/soc/112b0000.ufshci/clkgate_enable 1

    # GPU tuning
    write /sys/kernel/ged/hal/loading_base_dvfs_step 104
    write /sys/kernel/ged/hal/dvfs_loading_mode 0
    write /sys/kernel/ged/hal/dcs_mode 1
    write /sys/kernel/ged/hal/fw_idle 0
    write /sys/kernel/ged/hal/loading_stride_size 2
    write /sys/kernel/ged/hal/fallback_timing 180
    write /sys/kernel/ged/hal/fallback_interval 1
    write /sys/kernel/ged/hal/fallback_window_size 1
    write /sys/kernel/ged/hal/force_loading_base 0

     #sched
     write /proc/sys/kernel/sched_pelt_multiplier 4

on property:sys.boot_completed=1
    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1
 
# Adjust watermark level
    write /proc/sys/vm/watermark_scale_factor 200

  # End boot time tuning
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "schedutil"

# Utilization Clamping
    # Tuning
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 0
    write /proc/sys/kernel/sched_util_clamp_min 128

    # Real-Time tasks
    write /dev/cpuctl/rt/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/rt/cpu.uclamp.max max
    write /dev/cpuctl/rt/cpu.uclamp.min 0
    write /dev/cpuctl/rt/cpu.shares 20480

    # system
    write /dev/cpuctl/system/cpu.shares 20480

    # Background tasks for best efficiency
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/background/cpu.shares 1024
    write /dev/cpuctl/system-background/cpu.shares 2048
    write /dev/cpuctl/background/cpu.uclamp.min 0
    write /dev/cpuctl/background/cpu.uclamp.max 20
    write /dev/cpuctl/system-background/cpu.uclamp.min 1
    write /dev/cpuctl/system-background/cpu.uclamp.max 40

    # Camera daemon tasks
    write /dev/cpuctl/camera-daemon/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/camera-daemon/cpu.uclamp.max max
    write /dev/cpuctl/camera-daemon/cpu.uclamp.min 0
    write /dev/cpuctl/camera-daemon/cpu.shares 20480

    # dex2oat tasks
    write /dev/cpuctl/dex2oat/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/dex2oat/cpu.uclamp.max 60
    write /dev/cpuctl/dex2oat/cpu.uclamp.min 0
    write /dev/cpuctl/dex2oat/cpu.shares 512

    # Foreground tasks
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/foreground/cpu.uclamp.min 1
    write /dev/cpuctl/foreground/cpu.uclamp.max max
    write /dev/cpuctl/foreground/cpu.shares 20480
   
    # Foreground window tasks
    write /dev/cpuctl/foreground_window/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/foreground_window/cpu.uclamp.min 1
    write /dev/cpuctl/foreground_window/cpu.uclamp.max max
    write /dev/cpuctl/foreground_window/cpu.shares 10240

    # system tasks
    write /dev/cpuctl/system/cpu.shares 20480

    # NeuralNetwork API HAL tasks
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.max max
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.min 0
    write /dev/cpuctl/nnapi-hal/cpu.shares 20480

    # Top app tasks
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/top-app/cpu.uclamp.min 5
    write /dev/cpuctl/top-app/cpu.uclamp.max max
    write /dev/cpuctl/top-app/cpu.shares 20480

    # F2FS (charger / post-boot)
    write /dev/sys/fs/by-name/userdata/data_io_flag 8
    write /dev/sys/fs/by-name/userdata/node_io_flag 8
    write /dev/sys/fs/by-name/userdata/max_io_bytes 524288
    write /dev/sys/fs/by-name/userdata/min_hot_blocks 0


